.stage {
    width: var(--card-width);
    .control {
        min-width: var(--card-width);
        display: flex;
        line-height: 30px;
        padding: 12px 16px;
        border-radius: 100px;
        border: var(--base-border-size) solid var(--base-orange-color);
        margin-bottom: 16px;

        div:nth-child(1) {
            width: 30px;
            height: 30px;
            border-radius: 30px;
            color:white;
            background-color: var(--base-orange-color);
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        div:nth-child(2) {
            font-size: 18px;
            font-weight: bold;
            margin-right: auto;
            margin-left: 18px;
        }

        div:nth-child(3) {
            width: 16px;
            background: url("/public/icons/plus.svg") no-repeat 0px 8px;
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}